langchain
langchain-community
langchain_core
pypdf
langchain-text-splitters
langchain-openai
langchain-groq
streamlit
huggingface_hub
langchain_huggingface
python-dotenv
chromadb
numpy
pandas
pydantic
google-generativeai
ipykernel
openpyxl