python-dotenv
numpy
pandas
ipykernel
openpyxl
PyMuPDF
langchain
langchain-community
langchain_core
pypdf
langchain-text-splitters
langchain-openai
langchain-groq
langchain_ollama
huggingface_hub
langchain_huggingface
google-generativeai
streamlit
langchain_chroma
faiss-cpu
pinecone-client
langchain_pinecone
pydantic
sentence-transformers